# Recipe-owned ServiceWeaver application configuration.
[serviceweaver]
binary = "@SERVER_BIN@"

[single]
listeners.apilistener = {address = "localhost:49555"}

[multi]
listeners.apilistener = {address = "localhost:49555"}
